name: Build and Release Bangla Fonts [Bump Minor] [Manual]

on: [workflow_dispatch]

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install
        run: bun install

      - name: Playwright Setup
        run: bunx playwright install --with-deps chromium

      - name: Generate fontlist
        run: bun run fontlist

      - name: Save Hixbe metadata
        run: bun run metadata

      - name: Publish to NPM
        run: npx @hixbe/font-publisher publish minor --force --yes --provenance
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}




